body{
	background:#048399;
	display:flex;
	justify-content:center;
}
.passwordGenerator{
	width: 30%;
	height: 500px;
	background:#005067;
	display:flex;
	flex-direction:column;
	margin-top: 60px;
	align-items:center;
	box-shadow:2px 2px 6px 2px #2F70AF;
}
h2{
	color:#e0d7d0;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	bold:90;
	margin-top: 30px;
}
#generatorOwn{
	height: 45px;
	width:90%;
	font-size: 35px;
	background:#EFEFEF4D;
	font-family: 'Montserrat', sans-serif;	
	color:#e0d7d0;
}
input[type='checkbox'] {
	margin-top: 25px;
	}
.genInputSet{
	width: 90%;
	height: 50px;
	display:flex;
	flex-direction:row;
	background:#EFEFEF4D;
}

#password{
	margin-left: 10px;
}
#copy{
	background:#faecfd;
	width: 20%;
	font-size: 20px;
	color:#cf1e76;
	font-weight:900;
	font-family: 'Montserrat', sans-serif;
	transition:0.2s;
}
#copy:hover{
	background:#c954a2;
	color:#024b42;
}
#passwordClick{
	width: 92%;
	height: 45px;
	background:#048399;
	margin-top: 30px;
	color:#e0d7d0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight:900;
	transition:0.2s;
}
#passwordClick:hover{
	background:#ff919e;
}
.generatorSettings{
	width: 88%;
	height: 260px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}
.passwordLength{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.passwordLength h3,.upperCase h3,.lowerCase h3,.numbers h3,.symbols h3{
	color:#e0d7d0;
	font-family: 'Montserrat', sans-serif;
}
#pass{
	height: 20px;
	width: 10%;
	margin-top: 15px;
	text-align:center;
}
.upperCase{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.lowerCase{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.numbers{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.symbols{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}