body{
	background:#048399;
	display:flex;
	justify-content:center;
}
.passwordGenerator{
	width: 30%;
	height: 500px;
	background:#005067;
	display:flex;
	flex-direction:column;
	margin-top: 60px;
	align-items:center;
	box-shadow:2px 2px 6px 2px #2F70AF;
}
h2{
	color:#e0d7d0;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	bold:90;
	margin-top: 30px;
}
#generatorOwn{
	height: 45px;
	width:80%;
	max-width:80%;
	font-size: 35px;
	background:#EFEFEF4D;
	font-family: 'Montserrat', sans-serif;	
	color:#e0d7d0;
}
input[type='checkbox'] {
	margin-top: 25px;
	}
.genInputSet{
	width: 90%;
	height: 50px;
	display:flex;
	flex-direction:row;
	background:#EFEFEF4D;
}

#password{
	margin-left: 10px;
	font-size: 26px;
	padding-top: 6px;
}
#copy{
	background:#faecfd;
	width: 20%;
	font-size: 20px;
	color:#cf1e76;
	font-weight:900;
	font-family: 'Montserrat', sans-serif;
	transition:0.3s;
}
#copy:hover{
	background:#c954a2;
	color:#024b42;
}
#passwordClick{
	width: 92%;
	height: 45px;
	background:#048399;
	margin-top: 30px;
	color:#e0d7d0;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight:900;
	transition:0.4s;
}
#passwordClick:hover{
	background:#ff919e;
}
.generatorSettings{
	width: 88%;
	height: 260px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}
.passwordLength{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.passwordLength h3,.upperCase h3,.lowerCase h3,.numbers h3,.symbols h3{
	color:#e0d7d0;
	font-family: 'Montserrat', sans-serif;
}
#pass{
	height: 20px;
	width: 45%;
	text-align:center;
	font-family: 'Montserrat', sans-serif;
	font-weight:850;
	font-size: 16px;
background-color:#28b78d;
	border:none;	
	border-radius:50px;
	margin-left: -5px;
}
.setLengthPass{
	width:20%;
	height: 35px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
background-color:#28b78d;
	border-radius:50px;
	border:none;

}
#decrement,#increment{
	width: 10%;
	height: 20px;
	display:flex;
	text-align:center;
	justify-content:center;
	align-items:center;
	font-size: 24px;
background-color:#28b78d;
	color:#243743;
	border-radius:50px;
		border:none;
		font-weight:900;
}
#increment{
	margin-left: -20px;
}

.upperCase{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.lowerCase{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.numbers{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.symbols{
	width: 100%;
	height: 40px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
#checkboxi{
	--width:40px;
	--height:22px;
	--first-color:#243743;
	--second-color:#28b78d;
	--offset:2px;
}
.checkbox_div{
	position:relative;
	width:var(--width);
	height:var(--height);
	border-radius: var(--width);
	background-color:var(--first-color);
		transition:0.7s;
}
#checkboxi input{
	display:none;
		transition:0.7s;
}
#checkboxi:hover,.setLengthPass:hover{
	filter:brightness(1.2);
}
#minus:hover,#plus:hover{
	filter:brightness(1.5);
}
#checkboxi,.setLengthPass{
	margin-top: 20px;
}
#checkboxi input:checked  ~ .checkbox_div{
	background-color:var(--second-color);
transition:0.7s;
	}
.checkbox_div::before {
	content: '';
	position:absolute;
 	left: 4px;
  top:2.3px;
  width: calc(var(--height) - 2 * var(--offset));
  height: calc(var(--height) - 2 * var(--offset));
   background-color:var(--second-color);
  border-radius:50%;
  	transition:0.7s;

}
#checkboxi input:checked  ~ .checkbox_div::before{
	background-color:var(--first-color);
	left:20px;
	transition:0.7s;
	}

	@media screen and (max-width:1260px) and (min-width:1000px){
		.passwordGenerator{
			width: 40%;
		}
		#password{
			font-size: 23px;
			padding-top: 8px;
		}
		#pass{
			width: 50%;
}
#copy{
			width: 23%;
		}
	}
	@media screen and (max-width:1000px) and (min-width:800px){
		.passwordGenerator{
			width: 50%;
		}
		#pass{
			width: 52%;
}
	#password{
			font-size: 22px;
			padding-top: 8px;
		}
		#copy{
			width: 23%;
		}
	}
	@media screen and (max-width:800px) and (min-width:650px){
		.passwordGenerator{
			width: 60%;	
		}
		#copy{
			width: 24%;
		}
		#pass{
			width: 53%;
}
	#password{
			font-size: 20px;
			padding-top: 8px;
		}
	}

	@media screen and (max-width:650px) and (min-width:450px){
		.passwordGenerator{
			width: 70%;
		}
		#copy{
			width: 25%;
		}
		#password{
			font-size: 20px;
			padding-top: 8px;
		}
		#pass{
			width: 55%;
}
	}
		@media screen and (max-width:450px) and (min-width:330px){
		.passwordGenerator{
			width: 85%;
		}
		#copy{
			width: 28%;
		}
		#password{
			font-size: 19px;
			padding-top: 9px;
		}
		#pass{
			width: 55%;
}
	}
			@media screen and (max-width:330px) and (min-width:150px){
		.passwordGenerator{
			width: 95%;
		}
		#copy{
			width: 36%;
		}
		#password{
			font-size: 19px;
			padding-top: 9px;
		}
		#pass{
			width: 60%;
}
	}
